*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


/************** Universal Styling ************/
a, button {
  cursor: pointer;
}