.quiz-form-page {
    background-color: #fff;
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.quiz-form-page small {
    cursor: pointer;
}

.quiz-form-page .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}