.emailpasswordlogincontainer{
    /* background-color: red; */
    padding: 30px;
}


.emailpasswordlogincontainer .formContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
    margin: auto;
    max-width: 400px;
    width: 100%;
    /* justify-content: center; */
}

.emailpasswordlogincontainer .formContainer .fieldContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: lawngreen;
    padding: 20px;
}

.emailpasswordlogincontainer .formContainer .fieldContainer input {
    height: 35px;
}

.emailpasswordlogincontainer .formContainer button {
    height: 35px;
    width: 110px;
}